# 필요한 라이브러리 불러오기

In [2]:
import pandas as pd
import numpy as np

# 파일 불러오기

In [3]:
hum = pd.read_csv("./humidity.csv")
hum

       연도  분기  지역         평균   중앙값          분산
0    2018   1  경기  62.105397  62.0  486.490239
1    2018   2  경기  70.884377  74.0  475.442921
2    2018   3  경기  77.074957  81.0  315.853409
3    2018   4  경기  68.506293  71.0  507.012878
4    2019   1  경기  60.782458  61.0  528.228382
..    ...  ..  ..        ...   ...         ...
235  2022   4  제주  72.008643  73.0  342.817981
236  2023   1  제주  70.400253  71.0  419.766095
237  2023   2  제주  77.609485  83.0  452.907236
238  2023   3  제주  86.916058  89.0  139.605124
239  2023   4  제주  73.391466  74.0  330.596973

[240 rows x 6 columns]

In [4]:
tem_rain = pd.read_excel("./꿀벌_기온_강수량.xlsx")
tem_rain

,연도,분기,지역,평균기온,최고기온,최저기온,기온_중앙값,기온_분산,평균강수량,최고강수량,최저강수량,강수량_중앙값,강수량_분산
0,2018,1,서울,0.833333,8.1,-4.0,-1.6,27.362222,29.200000,49.5,8.5,29.6,280.246667
1,2018,2,서울,18.100000,23.1,13.0,18.2,17.006667,174.600000,222.0,130.3,171.5,1406.286667
2,2018,3,서울,26.033333,28.8,21.5,27.8,10.442222,152.233333,202.6,68.5,185.6,3553.802222
3,2018,4,서울,6.766667,13.1,-0.6,7.8,31.815556,72.000000,120.5,16.4,79.1,1831.340000
4,2019,1,서울,2.400000,7.1,-0.9,1.0,11.646667,16.866667,26.8,0.0,23.8,143.742222
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2022,4,제주,13.533333,18.3,6.8,15.5,23.975556,52.133333,102.5,19.6,34.3,1304.415556
236,2023,1,제주,9.033333,12.4,6.7,8.0,5.948889,63.500000,78.2,52.6,59.7,116.446667
237,2023,2,제주,18.700000,22.4,15.2,18.5,8.660000,278.400000,408.1,134.8,292.3,12545.420000
238,2023,3,제주,26.666667,28.0,25.4,26.6,1.128889,204.866667,291.8,126.6,196.2,4586.062222
239,2023,4,제주,14.100000,19.2,9.4,13.7,16.086667,50.366667,74.0,21.3,55.8,477.642222

In [101]:
tem_rain[tem_rain['지역']=='전북'].shape

(24, 13)

In [102]:
disease = pd.read_csv("./disease.csv")
disease

       연도  분기  서울   경기  강원  충북  충남  전북   전남   경북   경남   제주   총합
0   2018년   1   5   75   0   3   0   0    0    1    4    0   88
1   2019년   1   0    7   0  17   2   0    0   11   10    0   47
2   2020년   1   0    0   0  15   0   3    3    9    8    0   38
3   2021년   1   0    0   0   0   0   1    2   13    0    0   16
4   2022년   1   0   11   5   2  12  99  164  144  159  139  735
5   2023년   1   0   22   2   1   0   0    0    8    0    9   42
6   2018년   2   1    2   9   9  17   6   15   12    2    0   73
7   2019년   2   5   63  13  11   3  23    6   40    0    1  165
8   2020년   2   0   16  45  26  11   3   14   41   12   21  189
9   2021년   2   0    0  23  16   8   0    7   51   21    0  126
10  2022년   2  20  165  82  77  99   0   15   72   45    0  575
11  2023년   2   0    0   4  20  31   1    4   61    4    3  128
12  2018년   3   0  118  19  28   3  14    0   51    5    0  238
13  2019년   3   2    1  12   8   6   0   18   30    0    0   79
14  2020년   3   0    4   9   1  10   0    0   27    8    0   59
15  2021년   3   0  134   0  60   6   0    4    5    1    0  210
16  2022년   3   0    0  22   8  15  27   11   24    4    0  111
17  2023년   3   0    0   4  10   3   0    0   64   12    2   95

In [103]:
disease[disease['연도']=='2018년']

       연도  분기  서울   경기  강원  충북  충남  전북  전남  경북  경남  제주   총합
0   2018년   1   5   75   0   3   0   0   0   1   4   0   88
6   2018년   2   1    2   9   9  17   6  15  12   2   0   73
12  2018년   3   0  118  19  28   3  14   0  51   5   0  238

In [104]:
df_final = pd.read_csv("./전체.csv")
df_final

      연도   분기  서울   경기   강원  충북   충남   전북   전남   경북   경남  제주    총합
0  2018년  1~4   5  196   34  51   19   24   15   98   12   0   454
1  2019년  1~4  10   70   25  38    9   32   25   89   10   9   317
2  2020년  1~4   0   25   55  48   23    6   17   83   27  21   305
3  2021년  1~4   0  137   22  89    3    7   14   62   35   0   369
4  2022년  1~4  24  195  110  89  132  127  200  281  200  67  1425
5  2023년  1~4   0   17   23  31   61    4    7  196   18   8   365

In [105]:
def check(region, year):
    total = disease[disease['연도'] == year][region].sum()
    total2 = df_final[df_final['연도'] == year][region]
    
    return total2-total

In [42]:
result = check('경기', '2019년')
result

1   -1
Name: 경기, dtype: int64

# 서울

In [5]:
seoul = hum[hum['지역']=='서울']
seoul

      연도  분기  지역         평균   중앙값          분산
24  2018   1  서울  55.427547  53.0  399.167859
25  2018   2  서울  65.267339  65.0  467.862983
26  2018   3  서울  71.718940  72.0  304.208742
27  2018   4  서울  60.077614  58.0  462.507294
28  2019   1  서울  52.138984  50.0  427.659082
29  2019   2  서울  57.972608  57.0  480.734302
30  2019   3  서울  74.555982  76.0  313.896506
31  2019   4  서울  65.672368  65.0  393.306219
32  2020   1  서울  59.395398  59.0  420.011259
33  2020   2  서울  62.679842  62.0  506.972326
34  2020   3  서울  78.574447  82.0  285.764851
35  2020   4  서울  59.239629  58.0  391.434325
36  2021   1  서울  56.834328  54.0  452.015784
37  2021   2  서울  64.017676  65.0  491.804634
38  2021   3  서울  71.962626  71.0  273.059029
39  2021   4  서울  63.989165  64.0  396.478921
40  2022   1  서울  53.809276  51.0  366.370884
41  2022   2  서울  58.907557  58.0  462.714164
42  2022   3  서울  74.531878  76.0  280.033966
43  2022   4  서울  61.800525  61.0  389.490339
44  2023   1  서울  53.751501  52.0  435.017801
45  2023   2  서울  62.028424  63.0  535.697927
46  2023   3  서울  77.440432  79.0  251.209268
47  2023   4  서울  65.200536  65.0  359.754386

In [40]:
seoul = seoul.rename(columns={'평균':'습도_평균', '중앙값':'습도_중앙값', '분산':'습도_분산'})
seoul

      연도  분기  지역      습도_평균  습도_중앙값       습도_분산
24  2018   1  서울  55.427547    53.0  399.167859
25  2018   2  서울  65.267339    65.0  467.862983
26  2018   3  서울  71.718940    72.0  304.208742
27  2018   4  서울  60.077614    58.0  462.507294
28  2019   1  서울  52.138984    50.0  427.659082
29  2019   2  서울  57.972608    57.0  480.734302
30  2019   3  서울  74.555982    76.0  313.896506
31  2019   4  서울  65.672368    65.0  393.306219
32  2020   1  서울  59.395398    59.0  420.011259
33  2020   2  서울  62.679842    62.0  506.972326
34  2020   3  서울  78.574447    82.0  285.764851
35  2020   4  서울  59.239629    58.0  391.434325
36  2021   1  서울  56.834328    54.0  452.015784
37  2021   2  서울  64.017676    65.0  491.804634
38  2021   3  서울  71.962626    71.0  273.059029
39  2021   4  서울  63.989165    64.0  396.478921
40  2022   1  서울  53.809276    51.0  366.370884
41  2022   2  서울  58.907557    58.0  462.714164
42  2022   3  서울  74.531878    76.0  280.033966
43  2022   4  서울  61.800525    61.0  389.490339
44  2023   1  서울  53.751501    52.0  435.017801
45  2023   2  서울  62.028424    63.0  535.697927
46  2023   3  서울  77.440432    79.0  251.209268
47  2023   4  서울  65.200536    65.0  359.754386

In [41]:
seoul2 = tem_rain[tem_rain['지역']=='서울']
seoul2

,연도,분기,지역,평균기온,최고기온,최저기온,기온_중앙값,기온_분산,평균강수량,최고강수량,최저강수량,강수량_중앙값,강수량_분산
0,2018,1,서울,0.833333,8.1,-4.0,-1.6,27.362222,29.200000,49.5,8.5,29.6,280.246667
1,2018,2,서울,18.100000,23.1,13.0,18.2,17.006667,174.600000,222.0,130.3,171.5,1406.286667
2,2018,3,서울,26.033333,28.8,21.5,27.8,10.442222,152.233333,202.6,68.5,185.6,3553.802222
3,2018,4,서울,6.766667,13.1,-0.6,7.8,31.815556,72.000000,120.5,16.4,79.1,1831.340000
4,2019,1,서울,2.400000,7.1,-0.9,1.0,11.646667,16.866667,26.8,0.0,23.8,143.742222
5,2019,2,서울,18.000000,22.5,12.1,19.4,19.006667,53.033333,74.0,37.8,47.3,234.842222
6,2019,3,서울,25.233333,27.2,22.6,25.9,3.748889,174.900000,194.4,139.8,190.5,618.540000
7,2019,4,서울,8.466667,16.4,1.4,7.6,37.875556,52.300000,78.8,22.6,55.5,531.526667
8,2020,1,서울,3.933333,7.7,1.6,2.5,7.228889,43.300000,60.5,16.3,53.1,373.626667
9,2020,2,서울,17.666667,23.9,11.1,18.0,27.362222,89.633333,139.6,16.9,112.4,2768.375556
10,2020,3,서울,24.000000,26.5,21.4,24.1,4.340000,375.866667,675.7,181.5,270.4,46267.215560
11,2020,4,서울,7.333333,14.3,-0.3,8.0,35.748889,41.566667,120.1,0.0,4.6,3087.268889
12,2021,1,서울,3.100000,9.0,-2.4,2.7,21.740000,45.633333,110.9,7.1,18.9,2153.075556
13,2021,2,서울,18.033333,22.8,14.2,17.1,12.762222,137.266667,183.1,104.6,124.1,1113.722222
14,2021,3,서울,25.533333,28.1,22.6,25.9,5.108889,170.166667,211.2,131.0,168.3,1073.748889
15,2021,4,서울,8.133333,15.6,0.6,8.2,37.502222,42.433333,62.4,7.9,57.0,601.135556
16,2022,1,서울,1.466667,7.7,-2.2,-1.1,19.628889,37.600000,102.6,4.7,5.5,2112.606667
17,2022,2,서울,19.066667,23.3,14.8,19.1,12.042222,140.566667,393.8,7.5,20.4,32091.295560
18,2022,3,서울,25.133333,27.3,22.4,25.7,4.162222,339.533333,564.8,201.5,252.3,25802.642220
19,2022,4,서울,7.266667,14.6,-2.8,10.0,54.195556,74.066667,124.1,13.6,84.5,2089.468889
20,2023,1,서울,3.533333,9.8,-1.5,2.3,22.042222,19.800000,47.9,1.0,10.5,409.846667
21,2023,2,서울,18.900000,23.4,13.8,19.5,15.540000,149.366667,195.6,96.9,155.6,1643.042222
22,2023,3,서울,25.866667,27.2,23.7,26.7,2.388889,297.500000,459.9,134.5,298.1,17647.706670
23,2023,4,서울,7.900000,15.8,1.1,6.8,36.620000,66.266667,85.9,31.0,81.9,624.535556

In [80]:
seoul2 = seoul2.rename(columns={'평균기온':'기온_평균', '최고기온':'기온_최고', '최저기온':'기온_최저', 
                                '평균강수량':'강수량_평균', '최고강수량':'강수량_최고', '최저강수량':'강수량_최저'})
seoul2 = seoul2.drop(columns='지역')
seoul2

NameError: name 'seoul2' is not defined

In [43]:
seoul3 = disease[['연도','분기','서울']]
seoul3

       연도  분기  서울
0   2018년   1   5
1   2019년   1   0
2   2020년   1   0
3   2021년   1   0
4   2022년   1   0
5   2023년   1   0
6   2018년   2   1
7   2019년   2   5
8   2020년   2   0
9   2021년   2   0
10  2022년   2  20
11  2023년   2   0
12  2018년   3   0
13  2019년   3   2
14  2020년   3   0
15  2021년   3   0
16  2022년   3   0
17  2023년   3   0

In [44]:
seoul3 = seoul3.rename(columns={'서울':'질병건수'})
seoul3

       연도  분기  질병건수
0   2018년   1     5
1   2019년   1     0
2   2020년   1     0
3   2021년   1     0
4   2022년   1     0
5   2023년   1     0
6   2018년   2     1
7   2019년   2     5
8   2020년   2     0
9   2021년   2     0
10  2022년   2    20
11  2023년   2     0
12  2018년   3     0
13  2019년   3     2
14  2020년   3     0
15  2021년   3     0
16  2022년   3     0
17  2023년   3     0

In [49]:
# "연도" 열에서 "년" 제거 및 정수로 변환
seoul3['연도'] = seoul3['연도'].str.replace('년', '').astype(int)
seoul3

      연도  분기  질병건수
0   2018   1     5
1   2019   1     0
2   2020   1     0
3   2021   1     0
4   2022   1     0
5   2023   1     0
6   2018   2     1
7   2019   2     5
8   2020   2     0
9   2021   2     0
10  2022   2    20
11  2023   2     0
12  2018   3     0
13  2019   3     2
14  2020   3     0
15  2021   3     0
16  2022   3     0
17  2023   3     0

In [45]:
seoul_merge = pd.merge(seoul, seoul2, on=["연도","분기"], how="inner")
seoul_merge

,연도,분기,지역,습도_평균,습도_중앙값,습도_분산,기온_평균,기온_최고,기온_최저,기온_중앙값,기온_분산,강수량_평균,강수량_평균,강수량_최저,강수량_중앙값,강수량_분산
0,2018,1,서울,55.427547,53.0,399.167859,0.833333,8.1,-4.0,-1.6,27.362222,29.200000,49.5,8.5,29.6,280.246667
1,2018,2,서울,65.267339,65.0,467.862983,18.100000,23.1,13.0,18.2,17.006667,174.600000,222.0,130.3,171.5,1406.286667
2,2018,3,서울,71.718940,72.0,304.208742,26.033333,28.8,21.5,27.8,10.442222,152.233333,202.6,68.5,185.6,3553.802222
3,2018,4,서울,60.077614,58.0,462.507294,6.766667,13.1,-0.6,7.8,31.815556,72.000000,120.5,16.4,79.1,1831.340000
4,2019,1,서울,52.138984,50.0,427.659082,2.400000,7.1,-0.9,1.0,11.646667,16.866667,26.8,0.0,23.8,143.742222
5,2019,2,서울,57.972608,57.0,480.734302,18.000000,22.5,12.1,19.4,19.006667,53.033333,74.0,37.8,47.3,234.842222
6,2019,3,서울,74.555982,76.0,313.896506,25.233333,27.2,22.6,25.9,3.748889,174.900000,194.4,139.8,190.5,618.540000
7,2019,4,서울,65.672368,65.0,393.306219,8.466667,16.4,1.4,7.6,37.875556,52.300000,78.8,22.6,55.5,531.526667
8,2020,1,서울,59.395398,59.0,420.011259,3.933333,7.7,1.6,2.5,7.228889,43.300000,60.5,16.3,53.1,373.626667
9,2020,2,서울,62.679842,62.0,506.972326,17.666667,23.9,11.1,18.0,27.362222,89.633333,139.6,16.9,112.4,2768.375556
10,2020,3,서울,78.574447,82.0,285.764851,24.000000,26.5,21.4,24.1,4.340000,375.866667,675.7,181.5,270.4,46267.215560
11,2020,4,서울,59.239629,58.0,391.434325,7.333333,14.3,-0.3,8.0,35.748889,41.566667,120.1,0.0,4.6,3087.268889
12,2021,1,서울,56.834328,54.0,452.015784,3.100000,9.0,-2.4,2.7,21.740000,45.633333,110.9,7.1,18.9,2153.075556
13,2021,2,서울,64.017676,65.0,491.804634,18.033333,22.8,14.2,17.1,12.762222,137.266667,183.1,104.6,124.1,1113.722222
14,2021,3,서울,71.962626,71.0,273.059029,25.533333,28.1,22.6,25.9,5.108889,170.166667,211.2,131.0,168.3,1073.748889
15,2021,4,서울,63.989165,64.0,396.478921,8.133333,15.6,0.6,8.2,37.502222,42.433333,62.4,7.9,57.0,601.135556
16,2022,1,서울,53.809276,51.0,366.370884,1.466667,7.7,-2.2,-1.1,19.628889,37.600000,102.6,4.7,5.5,2112.606667
17,2022,2,서울,58.907557,58.0,462.714164,19.066667,23.3,14.8,19.1,12.042222,140.566667,393.8,7.5,20.4,32091.295560
18,2022,3,서울,74.531878,76.0,280.033966,25.133333,27.3,22.4,25.7,4.162222,339.533333,564.8,201.5,252.3,25802.642220
19,2022,4,서울,61.800525,61.0,389.490339,7.266667,14.6,-2.8,10.0,54.195556,74.066667,124.1,13.6,84.5,2089.468889
20,2023,1,서울,53.751501,52.0,435.017801,3.533333,9.8,-1.5,2.3,22.042222,19.800000,47.9,1.0,10.5,409.846667
21,2023,2,서울,62.028424,63.0,535.697927,18.900000,23.4,13.8,19.5,15.540000,149.366667,195.6,96.9,155.6,1643.042222
22,2023,3,서울,77.440432,79.0,251.209268,25.866667,27.2,23.7,26.7,2.388889,297.500000,459.9,134.5,298.1,17647.706670
23,2023,4,서울,65.200536,65.0,359.754386,7.900000,15.8,1.1,6.8,36.620000,66.266667,85.9,31.0,81.9,624.535556

In [50]:
seoul3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      18 non-null     int32
 1   분기      18 non-null     int64
 2   질병건수    18 non-null     int64
dtypes: int32(1), int64(2)
memory usage: 492.0 bytes

In [51]:
seoul_total = pd.merge(seoul_merge, seoul3, on=["연도","분기"], how="left")
seoul_total

,연도,분기,지역,습도_평균,습도_중앙값,습도_분산,기온_평균,기온_최고,기온_최저,기온_중앙값,기온_분산,강수량_평균,강수량_평균,강수량_최저,강수량_중앙값,강수량_분산,질병건수
0,2018,1,서울,55.427547,53.0,399.167859,0.833333,8.1,-4.0,-1.6,27.362222,29.200000,49.5,8.5,29.6,280.246667,5.0
1,2018,2,서울,65.267339,65.0,467.862983,18.100000,23.1,13.0,18.2,17.006667,174.600000,222.0,130.3,171.5,1406.286667,1.0
2,2018,3,서울,71.718940,72.0,304.208742,26.033333,28.8,21.5,27.8,10.442222,152.233333,202.6,68.5,185.6,3553.802222,0.0
3,2018,4,서울,60.077614,58.0,462.507294,6.766667,13.1,-0.6,7.8,31.815556,72.000000,120.5,16.4,79.1,1831.340000,NaN
4,2019,1,서울,52.138984,50.0,427.659082,2.400000,7.1,-0.9,1.0,11.646667,16.866667,26.8,0.0,23.8,143.742222,0.0
5,2019,2,서울,57.972608,57.0,480.734302,18.000000,22.5,12.1,19.4,19.006667,53.033333,74.0,37.8,47.3,234.842222,5.0
6,2019,3,서울,74.555982,76.0,313.896506,25.233333,27.2,22.6,25.9,3.748889,174.900000,194.4,139.8,190.5,618.540000,2.0
7,2019,4,서울,65.672368,65.0,393.306219,8.466667,16.4,1.4,7.6,37.875556,52.300000,78.8,22.6,55.5,531.526667,NaN
8,2020,1,서울,59.395398,59.0,420.011259,3.933333,7.7,1.6,2.5,7.228889,43.300000,60.5,16.3,53.1,373.626667,0.0
9,2020,2,서울,62.679842,62.0,506.972326,17.666667,23.9,11.1,18.0,27.362222,89.633333,139.6,16.9,112.4,2768.375556,0.0
10,2020,3,서울,78.574447,82.0,285.764851,24.000000,26.5,21.4,24.1,4.340000,375.866667,675.7,181.5,270.4,46267.215560,0.0
11,2020,4,서울,59.239629,58.0,391.434325,7.333333,14.3,-0.3,8.0,35.748889,41.566667,120.1,0.0,4.6,3087.268889,NaN
12,2021,1,서울,56.834328,54.0,452.015784,3.100000,9.0,-2.4,2.7,21.740000,45.633333,110.9,7.1,18.9,2153.075556,0.0
13,2021,2,서울,64.017676,65.0,491.804634,18.033333,22.8,14.2,17.1,12.762222,137.266667,183.1,104.6,124.1,1113.722222,0.0
14,2021,3,서울,71.962626,71.0,273.059029,25.533333,28.1,22.6,25.9,5.108889,170.166667,211.2,131.0,168.3,1073.748889,0.0
15,2021,4,서울,63.989165,64.0,396.478921,8.133333,15.6,0.6,8.2,37.502222,42.433333,62.4,7.9,57.0,601.135556,NaN
16,2022,1,서울,53.809276,51.0,366.370884,1.466667,7.7,-2.2,-1.1,19.628889,37.600000,102.6,4.7,5.5,2112.606667,0.0
17,2022,2,서울,58.907557,58.0,462.714164,19.066667,23.3,14.8,19.1,12.042222,140.566667,393.8,7.5,20.4,32091.295560,20.0
18,2022,3,서울,74.531878,76.0,280.033966,25.133333,27.3,22.4,25.7,4.162222,339.533333,564.8,201.5,252.3,25802.642220,0.0
19,2022,4,서울,61.800525,61.0,389.490339,7.266667,14.6,-2.8,10.0,54.195556,74.066667,124.1,13.6,84.5,2089.468889,NaN
20,2023,1,서울,53.751501,52.0,435.017801,3.533333,9.8,-1.5,2.3,22.042222,19.800000,47.9,1.0,10.5,409.846667,0.0
21,2023,2,서울,62.028424,63.0,535.697927,18.900000,23.4,13.8,19.5,15.540000,149.366667,195.6,96.9,155.6,1643.042222,0.0
22,2023,3,서울,77.440432,79.0,251.209268,25.866667,27.2,23.7,26.7,2.388889,297.500000,459.9,134.5,298.1,17647.706670,0.0
23,2023,4,서울,65.200536,65.0,359.754386,7.900000,15.8,1.1,6.8,36.620000,66.266667,85.9,31.0,81.9,624.535556,NaN

In [51]:
air = pd.read_csv("./air_pollution_final.csv")
air

,연도,분기,지역,이산화황_평균,이산화질소_평균,오존_평균,일산화탄소_평균,미세먼지_평균,초미세먼지_평균,이산화황_분산,이산화질소_분산,오존_분산,일산화탄소_분산,미세먼지_분산,초미세먼지_분산
0,2018,1,서울,0.005333,0.034000,0.019333,0.600000,52.333333,32.000000,2.222222e-07,6.666667e-07,0.000025,0.000000,0.222222,2.666667
1,2018,1,경기,0.004946,0.029183,0.021151,0.580645,56.774194,35.946237,1.212163e-06,6.247196e-05,0.000053,0.010163,27.572667,16.416464
2,2018,1,강원,0.003722,0.018778,0.028333,0.594444,42.888889,29.388889,1.867284e-06,2.472840e-05,0.000061,0.028302,83.098765,42.348765
3,2018,1,충북,0.004667,0.023889,0.023833,0.733333,50.333333,34.111111,1.555556e-06,2.554321e-05,0.000052,0.026667,16.777778,18.098765
4,2018,1,충남,0.003951,0.018000,0.025878,0.500000,48.487805,27.634146,1.070791e-06,2.697561e-05,0.000065,0.014146,28.249851,26.768590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2022,4,전북,0.002167,0.011119,0.026262,0.316667,34.976190,21.380952,1.388889e-07,1.548583e-05,0.000015,0.006151,57.118481,25.188209
196,2022,4,전남,0.002492,0.009523,0.028400,0.355385,27.415385,14.692308,3.730178e-07,1.071101e-05,0.000032,0.008625,27.196686,17.720710
197,2022,4,경북,0.002681,0.011435,0.025246,0.353623,30.086957,17.820896,1.289645e-06,2.082546e-05,0.000024,0.011183,73.151859,35.430608
198,2022,4,경남,0.002852,0.013852,0.027056,0.414815,26.296296,15.648148,2.373114e-07,2.082990e-05,0.000024,0.004966,26.023320,13.042867
199,2022,4,제주,0.001167,0.007333,0.040167,0.266667,28.166667,14.333333,1.388889e-07,3.222222e-06,0.000010,0.002222,13.138889,9.555556

In [65]:
air[air['지역']=='경기']

,연도,분기,지역,이산화황_평균,이산화질소_평균,오존_평균,일산화탄소_평균,미세먼지_평균,초미세먼지_평균,이산화황_분산,이산화질소_분산,오존_분산,일산화탄소_분산,미세먼지_분산,초미세먼지_분산
1,2018,1,경기,0.004946,0.029183,0.021151,0.580645,56.774194,35.946237,1.212163e-06,0.000062,0.000053,0.010163,27.572667,16.416464
11,2018,2,경기,0.003538,0.019839,0.036817,0.396774,46.247312,24.365591,9.582611e-07,0.000054,0.000027,0.005904,92.444213,14.984622
21,2018,3,경기,0.003065,0.014065,0.027247,0.348387,24.236559,12.397849,5.549775e-07,0.000027,0.000013,0.005508,25.169846,8.454619
31,2018,4,경기,0.003570,0.028914,0.014527,0.556989,48.247312,27.591398,6.322118e-07,0.000083,0.000015,0.012989,173.497977,64.134120
41,2019,1,경기,0.004333,0.030344,0.021065,0.646237,68.709677,42.204301,6.953405e-07,0.000068,0.000062,0.009798,75.259799,32.915250
51,2019,2,경기,0.003720,0.019667,0.041581,0.434409,43.301075,21.838710,1.040120e-06,0.000048,0.000058,0.004838,133.651289,27.554631
61,2019,3,경기,0.002914,0.014624,0.030828,0.397849,26.967742,14.554348,6.162562e-07,0.000026,0.000029,0.007737,22.955949,14.834003
71,2019,4,경기,0.003366,0.025882,0.015935,0.523656,42.688172,23.301075,7.050526e-07,0.000067,0.000023,0.011914,48.666204,47.973870
81,2020,1,경기,0.003333,0.025366,0.022247,0.537634,45.946237,28.161290,5.878136e-07,0.000050,0.000043,0.011809,21.405712,17.597641
91,2020,2,경기,0.002935,0.015312,0.041903,0.405376,41.193548,19.698925,6.625043e-07,0.000020,0.000027,0.003304,33.510926,9.801827
101,2020,3,경기,0.002667,0.011570,0.027742,0.372043,22.193548,11.956989,5.017921e-07,0.000014,0.000020,0.003735,9.274367,5.804602
111,2020,4,경기,0.003452,0.024677,0.017871,0.517204,42.483871,23.924731,4.842178e-07,0.000041,0.000014,0.005726,32.529310,29.639496
121,2021,1,경기,0.003409,0.024452,0.023495,0.525806,54.268817,28.182796,5.857325e-07,0.000032,0.000034,0.004280,175.658920,31.461209
131,2021,2,경기,0.002839,0.015194,0.040634,0.393548,48.129032,19.591398,6.729102e-07,0.000022,0.000010,0.004044,158.951093,11.402937
141,2021,3,경기,0.002645,0.011075,0.032720,0.379570,22.161290,11.247312,6.160250e-07,0.000012,0.000017,0.005497,23.576136,11.347439
151,2021,4,경기,0.002753,0.022548,0.018333,0.494624,39.290323,21.967742,4.012025e-07,0.000045,0.000012,0.007175,65.517863,38.310787
161,2022,1,경기,0.002688,0.023538,0.024280,0.489247,43.901099,26.580645,3.006128e-07,0.000041,0.000036,0.009992,15.693515,16.996185
171,2022,2,경기,0.002108,0.012925,0.043033,0.319355,34.877778,17.150538,3.110186e-07,0.000018,0.000025,0.005217,103.307284,18.622500
181,2022,3,경기,0.001839,0.010613,0.031656,0.312903,22.521739,11.956989,2.428026e-07,0.000013,0.000017,0.006070,15.727788,7.869118
191,2022,4,경기,0.002355,0.021677,0.018172,0.413978,36.720430,20.913978,3.364551e-07,0.000044,0.000013,0.007224,60.244421,26.960342

In [106]:
def total_region_df(region):
    df1 = hum[hum['지역']==region]
    df1 = df1.rename(columns={'평균':'습도_평균', '중앙값':'습도_중앙값', '분산':'습도_분산'})
    
    df2 = tem_rain[tem_rain['지역']==region]
    df2 = df2.rename(columns={'평균기온':'기온_평균', '최고기온':'기온_최고', '최저기온':'기온_최저', 
                                '평균강수량':'강수량_평균', '최고강수량':'강수량_평균', '최저강수량':'강수량_최저'})
    df2 = df2.drop(columns='지역')
    
    df3 = disease[['연도','분기',region]]
    df3 = df3.rename(columns={region:'질병건수'})
    df3['연도'] = df3['연도'].str.replace('년', '').astype(int)

    df4 = air[air['지역']==region]
    df4 = df4.drop('지역',axis=1)
    
    df_merge = pd.merge(df1, df2, on=["연도","분기"], how="inner")
    df_total = pd.merge(df_merge, df3, on=["연도","분기"], how="left")
    df_total2 = pd.merge(df_total, df4, on=["연도","분기"], how="left")

    df_total2 = df_total2[df_total2['연도'] != 2023]
    return df_total2

In [82]:
gyeonggi = total_region_df('충남')
gyeonggi

,연도,분기,지역,습도_평균,습도_중앙값,습도_분산,기온_평균,기온_최고,기온_최저,기온_중앙값,...,오존_평균,일산화탄소_평균,미세먼지_평균,초미세먼지_평균,이산화황_분산,이산화질소_분산,오존_분산,일산화탄소_분산,미세먼지_분산,초미세먼지_분산
0,2018,1,충남,69.731522,71.0,384.350754,0.900000,7.3,-3.2,-1.4,...,0.025878,0.500000,48.487805,27.634146,1.070791e-06,0.000027,0.000065,0.014146,28.249851,26.768590
1,2018,2,충남,76.257995,81.0,397.982212,17.266667,21.9,12.3,17.6,...,0.042933,0.346667,41.555556,19.933333,1.135802e-06,0.000017,0.000021,0.008711,55.935802,9.528889
2,2018,3,충남,79.805180,83.0,257.033773,24.800000,27.5,20.2,26.7,...,0.030533,0.395556,22.288889,11.866667,1.135802e-06,0.000007,0.000023,0.009314,6.294321,4.293333
3,2018,4,충남,70.949757,71.0,385.960704,6.400000,12.1,0.1,7.0,...,0.020711,0.580000,43.400000,24.422222,1.155556e-06,0.000031,0.000030,0.014044,156.728889,84.688395
4,2019,1,충남,67.329490,68.0,400.333628,1.966667,6.2,-1.1,0.8,...,0.028156,0.668889,60.844444,37.777778,1.093333e-06,0.000027,0.000065,0.010143,76.131358,61.150617
5,2019,2,충남,72.614716,77.0,463.834265,16.500000,20.9,11.1,17.5,...,0.046022,0.475556,41.511111,23.333333,1.799506e-06,0.000014,0.000057,0.005847,94.560988,19.600000
6,2019,3,충남,83.506414,88.0,226.211582,23.933333,25.8,21.3,24.7,...,0.033844,0.400000,25.955556,15.600000,1.244444e-06,0.000007,0.000022,0.003556,12.042469,8.328889
7,2019,4,충남,73.880354,73.0,319.114823,8.233333,15.0,2.1,7.6,...,0.022000,0.466667,40.666667,23.800000,7.288889e-07,0.000022,0.000023,0.007111,39.733333,30.382222
8,2020,1,충남,70.951785,72.0,366.525640,3.800000,6.9,1.9,2.6,...,0.026200,0.477778,45.066667,29.222222,5.017284e-07,0.000015,0.000048,0.006173,22.106667,21.683951
9,2020,2,충남,74.593131,79.0,445.434577,16.600000,22.4,10.0,17.4,...,0.042511,0.395556,38.155556,19.444444,5.017284e-07,0.000006,0.000023,0.005314,34.798025,8.824691
10,2020,3,충남,86.180325,91.0,178.552335,23.266667,26.5,20.3,23.0,...,0.030867,0.364444,22.955556,12.555556,2.933333e-07,0.000005,0.000034,0.007180,6.664691,2.958025
11,2020,4,충남,69.871554,70.0,373.824865,7.000000,13.1,0.0,7.9,...,0.024444,0.488889,39.911111,23.800000,1.955556e-07,0.000014,0.000032,0.005432,28.525432,20.071111
12,2021,1,충남,70.672368,72.0,404.510439,3.000000,8.0,-1.8,2.8,...,0.030889,0.484444,57.377778,29.400000,7.209877e-07,0.000013,0.000062,0.005758,263.301728,30.284444
13,2021,2,충남,74.184953,78.0,447.284475,17.133333,22.0,13.1,16.3,...,0.047364,0.372727,47.295455,20.590909,3.693182e-07,0.000007,0.000025,0.003347,180.389979,8.332645
14,2021,3,충남,81.920738,84.0,207.763427,24.333333,26.4,21.7,24.9,...,0.036222,0.373333,20.844444,11.488889,3.328395e-07,0.000004,0.000021,0.004178,19.509136,7.849877
15,2021,4,충남,74.191510,75.0,324.459463,8.066667,14.8,1.4,8.0,...,0.026422,0.440000,38.155556,21.777778,6.735802e-07,0.000014,0.000026,0.004622,51.775802,25.550617
16,2022,1,충남,67.224891,67.0,361.247826,1.466667,6.9,-1.8,-0.7,...,0.032111,0.435556,43.755556,27.133333,5.550617e-07,0.000014,0.000046,0.004958,30.629136,13.226667
17,2022,2,충남,72.042728,76.0,431.237187,17.700000,22.7,13.0,17.4,...,0.048267,0.317778,32.866667,16.222222,3.288889e-07,0.000007,0.000031,0.004128,94.248889,19.595062
18,2022,3,충남,83.063177,87.0,196.105440,24.100000,26.1,21.1,25.1,...,0.036289,0.344444,22.444444,11.888889,2.044444e-07,0.000003,0.000020,0.002914,19.358025,7.743210
19,2022,4,충남,73.297955,75.0,332.578630,6.733333,13.5,-2.2,8.9,...,0.025578,0.408889,37.822222,21.111111,1.313580e-07,0.000016,0.000021,0.003921,43.923951,29.965432

In [107]:
regions = ['서울', '경기', '강원', '충북', '충남', '전북', '전남', '경북', '경남', '제주']
for region in regions:
    df_final = total_region_df(region)
    file_path_title = "./" + region + ".csv"
    df_final.to_csv(file_path_title)

In [110]:
df_100 = pd.read_csv("./전북.csv")
df_100.columns

Index(['Unnamed: 0', '연도', '분기', '지역', '습도_평균', '습도_중앙값', '습도_분산', '기온_평균',
       '기온_최고', '기온_최저', '기온_중앙값', '기온_분산', '강수량_평균', '강수량_평균.1', '강수량_최저',
       '강수량_중앙값', '강수량_분산', '질병건수', '이산화황_평균', '이산화질소_평균', '오존_평균', '일산화탄소_평균',
       '미세먼지_평균', '초미세먼지_평균', '이산화황_분산', '이산화질소_분산', '오존_분산', '일산화탄소_분산',
       '미세먼지_분산', '초미세먼지_분산'],
      dtype='object')

In [79]:
df_final['강수량_평균']

        강수량_평균  강수량_평균
0    29.200000    49.5
1   174.600000   222.0
2   152.233333   202.6
3    72.000000   120.5
4    16.866667    26.8
5    53.033333    74.0
6   174.900000   194.4
7    52.300000    78.8
8    43.300000    60.5
9    89.633333   139.6
10  375.866667   675.7
11   41.566667   120.1
12   45.633333   110.9
13  137.266667   183.1
14  170.166667   211.2
15   42.433333    62.4
16   37.600000   102.6
17  140.566667   393.8
18  339.533333   564.8
19   74.066667   124.1